apiVersion: apps/v1
kind: Deployment
metadata:
  name: stories-api-dpy

spec: 
  replicas: 1
  selector:
    matchLabels:
      api: story
      
  ## STORY POD 
  template:
    metadata:
      labels:
        api: story
    spec:
      containers:
      - name: stories-api
        image: marknjo/kub-test-story-api
        volumeMounts:
        - mountPath: /app/stories
          name: story-api-data
        resources:
          limits:
            cpu: "500m"
            memory: "1G"
        ports:
        - containerPort: 3000

      ## VOLUMES DEFINITION
      volumes:
      - name: story-api-data
        emptyDir: {}

## STORY SERVICE 
---

apiVersion: v1
kind: Service
metadata:
  name: stories-api-srv
spec:
  selector:
    api: story
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP



