apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasks-api-dpy
spec:
  replicas: 1
  selector:
    matchLabels:
      api: tasks
  template:
    metadata:
      name: tasks-pod
      labels:
        api: tasks
    spec:
      containers:
        - name: tasks-api-cnt
          image: marknjo/kub-test-tasks-api
          resources:
            limits:
              cpu: "500m"
              memory: "128Mi"
          volumeMounts:
            - mountPath: /apps/tasks
              name: tasks-data-vol
          imagePullPolicy: Never
          env:
            - name: HOST
              value: "multi-apps.io"
            - name: PORT
              value: "8001"
            - name: PROTOCOL
              value: "http"
            - name: REQUIRE_PORT
              value: "false"
            - name: TASKS_FOLDER
              value: tasks
            - name: AUTH_ADDRESS
              value: auth-api-srv
            - name: AUTH_PORT
              value: "8000"
          ports:
            - containerPort: 8001

      volumes:
        - name: tasks-data-vol
          hostPath:
            path: /data
            type: DirectoryOrCreate

